<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="outros/image/logo.png" rel="icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="outros/css/estilo.css">
	<link rel="stylesheet" href="outros/css/usuario.css">
	<link rel="stylesheet" href="outros/css/encomendas.css">
</head>
<body>

	<header class="navbar navbar-expand-md navbar-light" id="navbar-default">
		<div class='container'>
			<a href="index.html" class="navbar-brand"><img src="outros/image/logo.png" width="100"></a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="menu">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
						<a href="index.html" class="nav-link">Pagina Inicial</a>
					</li>

					<li class="nav-item">
						<a href="encomenda.html" class="nav-link">Fazer Encomenda</a>
					</li>

					<li class="nav-item">
						<a href="usuario.html" class="nav-link">Area do Usuario</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<nav id="nav-custom">
		<div class="container">
			<a href="index.html" class="navbar-brand">King</a>
		</div>
	</nav>

	<section id="paralax_4" class="default"></section>
		
	<div class="container-fluid sobre">
		<div class="row rap" id="t3">

			<div class="col">

				<p class="title" style="text-align: center;">Sabado<br><br>
					
					<img src="outros/image/aurora.jpg" class="galeria1"><br>
					Aurora
				</p>

			</div>

			<div class="col">
				<p class="title" style="text-align: center;">Domingo<br><br>
					
					<img src="outros/image/bucket.jpg" width="60" class="galeria1"><br>

					BucketHead
				</p>
				

			</div>
			
		</div>
	</div>
	
	<section id="paralax_2" class="default"></section>


	<div class="container-fluid sobre" id="cabecalho">
		<div class="row rap" id="t1">
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a href="contatos.html" class="nav-link">Contatos</a>
					</li>

					<li class="nav-item">
						<a href="desenvolvedores.html" class="nav-link">Desenvolvedores</a>
					</li>

					<li class="nav-item">
						<a href="sobreNos.html" class="nav-link">Sobre Nós</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a href="especial.html" class="nav-link">Um pedido especial</a>
					</li>

					<li class="nav-item">
						<a href="reservas.html" class="nav-link">Reservas</a>
					</li>

					<li class="nav-item">
						<a href="shows.html" class="nav-link">Shows ao vivo</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="nav flex-column">

					<li class="nav-item">
						<a href="suporte.html" class="nav-link">Suporte</a>
					</li>

					<li class="nav-item">
						<a href="faleConosco.html" class="nav-link">Fale com nosco</a>
					</li>

					<li class="nav-item">
						<a href="local.html" class="nav-link">Conheca nosso local</a>
					</li>
				</ul>
			</div>
			<div class="col">

				<img src="outros/image/iconface.png" width="60" class="contatos">
				<img src="outros/image/icontw.png" width="60" class="contatos"><br>
				<img src="outros/image/iconyo.png" width="60" class="contatos">
				<img src="outros/image/iconist.png" width="60" class="contatos">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 	<script src="../controller/animateScroll.js"></script>
</body>
</html>